<div class="d-flex" id="wrapper">
    <app-nav-nl class="col-md-2 col" ></app-nav-nl>
    <div id="content-wrapper">
        <div class="container">
            <div class="container-fluid">
                <h1 class="mt-4">Studie opbouw jaar 1</h1>
                <h2>Periode 1</h2>
                <div class="row">
                    <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-2832717-dt-content-rid-7875935_6/courses/hto-200908-02/Moduleboek_OIPHP1_191015.pdf">PHP1</a>
                    <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-2832959-dt-content-rid-7462837_6/courses/hto-200908-03/Moduleboek_OIXH_190826.pdf">(X)HTML en CSS</a>
                    <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4293273-dt-content-rid-7500758_6/courses/hto-200908-04/Moduleboek_OIFED1_190820.pdf">FED Essentials</a>
                    <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-694856-dt-content-rid-2992728_6/courses/hto-200908-05/160525_Moduleboek%20PROFWEBS.pdf">Project Professionele website</a>
            </div>
            <h2>Periode 2</h2>
            <div class="row">
                <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-851661-dt-content-rid-7710107_6/courses/hto-200911-02/Moduleboek_OIIM_190924%203.7.pdf">Informatiemanagement</a>
                    <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4747084-dt-content-rid-10419226_6/courses/hto-200908-06/MODUULBOEK_SLB1A_versie%200.2_Informatica_2019_september%282%29.pdf">SLB1A</a>
                    <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4429061-dt-content-rid-8470805_6/courses/hto-200911-01/20191111_moduleboek_OIDB1_Inleiding_Databases.pdf">Inleiding Databases</a>
                    <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-599699-dt-content-rid-8273393_6/courses/hto-200911-04/Moduleboek_OIPHP2_191105.pdf">Unleash your potential in PHP</a>
                    <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-694911-dt-content-rid-8448893_6/courses/hto-200911-05/20191111_Module_WebApplicatie_v5.pdf">Digitale Portfolio</a>
            </div>
            <h2>Periode 3</h2>
            <div class="row">
                <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-851661-dt-content-rid-7710107_6/courses/hto-200911-02/Moduleboek_OIIM_190924%203.7.pdf">Informatiemanagement</a>
                    <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4747084-dt-content-rid-10419226_6/courses/hto-200908-06/MODUULBOEK_SLB1A_versie%200.2_Informatica_2019_september%282%29.pdf">SLB1A</a>
                    <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4429061-dt-content-rid-8470805_6/courses/hto-200911-01/20191111_moduleboek_OIDB1_Inleiding_Databases.pdf">Inleiding Databases</a>
                    <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-599699-dt-content-rid-8273393_6/courses/hto-200911-04/Moduleboek_OIPHP2_191105.pdf">Unleash your potential in PHP</a>
                    <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-694911-dt-content-rid-8448893_6/courses/hto-200911-05/20191111_Module_WebApplicatie_v5.pdf">Digitale Portfolio</a>
            </div>
            <h2>Periode 4</h2>
            <div class="row">
                <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-851661-dt-content-rid-7710107_6/courses/hto-200911-02/Moduleboek_OIIM_190924%203.7.pdf">Informatiemanagement</a>
                <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4680583-dt-content-rid-8390549_6/courses/hto-201704-01/Moduleboek%20MC-1%202019-2020.pdf">Mondelinge Communicatie</a>
                <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-3497326-dt-content-rid-6217927_6/courses/HTO-201609-01/Moduleboek_OIWI1_190129-versie-2.0%281%29.pdf">Basiswiskunde</a>
                <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4754227-dt-content-rid-10540591_6/courses/HTO-201701-02/GSC01%202019-2020.pdf">Schriftelijke Communicatie 1</a>
                <a class="col-md-3 block rotate" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-600351-dt-content-rid-4308581_6/courses/hto-200911-08/Moduleboek_OIJV1_180524.pdf">Inleiding programmeren in Java</a>
            </div>
            </div>
        <!-- /#wrapper -->
    
    </div>

</div>