<div class="d-flex" id="wrapper">
    <app-nav-nl class="col-md-2 col" ></app-nav-nl>
        
        <div class="container">
            <div class="container-fluid">
                <h1 class="mt-4">Vakken</h1>
                <div class="row">
                    <a class="col-md-3 block" href="PHP1">PHP1 <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="HTML">(X)HTML en CSS  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="FED1">FED Essentials  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="Project-professionele-website">Project Professionele website  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="Informatiemanagement">Informatiemanagement  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="SLB1A">SLB1A  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="Database1">Inleiding Databases  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="PHP2">Unleash your potential in PHP  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="Project-digitaal-portfolio">Digitale Portfolio  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="Mondelinge-Communicatie">Mondelinge Communicatie  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="WIS1">Basiswiskunde  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="Schriftelijke-Communicatie">Schriftelijke Communicatie 1  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="Java1">Inleiding programmeren in Java  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="Netwerken1">Inleiding Computernetwerken  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="Project-Battle-bot">Project Battle bot  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="CSharp1">Module C#  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="Project-Innovate">Project Innovate  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                    <a class="col-md-3 block" href="Multimediaproductie">Multimediaproductie  <img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></a>
                </div>
            </div>
        <!-- /#wrapper -->
    
    </div>

</div>