
.block{
    background-color: white;
    width: 210px;
    height: auto;
    margin: 40px;
    text-align: center;
    box-shadow: 10px 10px #029cab;
    a{
        margin: auto;
    }
    .category{
        padding-top: 15px;
    }
    img{
        padding: 0 0 15px 0;
        max-width: 150px;
    }
    text-decoration: none;
    color: #005AAA;
    &:hover{
        opacity: 0.9;
    }
}
