
<nav>
    <ul>
        <li>Logo</li>
        <li><a href="klassen">Klassen</a></li>
        <li><a href="roosters" class="rooster">Roosters</a>
            <ul class="foldout-menu">
                <li><a href="INF1A">INF1A</a></li>
                <li><a href="INF1B">INF1B</a></li>
                <li><a href="INF1C">INF1C</a></li>
                <li><a href="INF1D">INF1D</a></li>
                <li><a href="INF1E">INF1E</a></li>
                <li><a href="INF1F1">INF1F1</a></li>
                <li><a href="INF1G">INF1G</a></li>
                <li><a href="INF1H">INF1H</a></li>
            </ul>
        </li>
        <li><a href="vakken">Vakken</a></li>
        <li><a href="docenten">Docenten</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>