html{
    background-color: #005AAA;
}
*{
    padding: 0;
    margin: 0;
    font-family: calibri,sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #005AAA;
    background-image: url('src/assets/images/achterhrond-41-30.png');
    height: 100%;
    background-size: cover;
    color: white;
}
.container, .row{
    height: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0;
    background-color: #005AAA;
}
 
.block{
    background-color: white;
    width: 210px;
    height: 160px;
    margin: 40px;
    text-align: center;
    padding-top: 4em;
    text-decoration: none;
    color: #005AAA;
    &:hover{
        opacity: 0.5;
    }
}
