<div class="d-flex" id="wrapper">
  <app-nav-en class="col-md-2 col" ></app-nav-en>
  <div id="content-wrapper">
    <div class="container">
      <div class="row">
        <a class="col block" href="group-en">Groups</a>
        <a class="col block" href="teachers">Teachers</a>
        <a class="col block" href="studieopbouw-en">Study structure</a>
        <a class="col block" href="boekenlijst-en">Book list</a>
      </div>
      <div class="row">
          <a class="col block" target="_blank" href="https://start.nhlstenden.com/">Blackboard</a>
          <a class="col block" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4329287-dt-content-rid-5727329_6/courses/HTO-201406-01/OER%202018-2019%20bachelor%20Inf.pdf">OER</a>
          <a class="col block" href="uitstroom-profielen-en">Profiles</a>
          <a class="col block" href="onderwijsvorm-en">Educational form</a>
        </div>
        <div class="row">
          <div class="col openingstijden">
            <p class="bold">Open</p>
            <p>Workdays from 9:30 to 16:30</p>
          </div>
        </div>
    </div>
  </div>
  <!-- /#wrapper -->

</div>
