<div class="d-flex" id="wrapper">
    <app-nav-nl class="col-md-2 col" ></app-nav-nl>
    
    <div class="container">
        <div class="container-fluid">
            <h1 class="mt-4">Klassen</h1>
            <div class="row">
                <a class="col block" href="klas-INF1A">INF1A</a>
                <a class="col block" href="klas-INF1B">INF1B</a>
                <a class="col block" href="klas-INF1C">INF1C</a>
                <a class="col block" href="klas-INF1D">INF1D</a>
                <a class="col block" href="klas-INF1E">INF1E</a>
                <a class="col block" href="klas-INF1F">INF1F</a>
                <a class="col block" href="klas-INF1G">INF1G</a>
                <a class="col block" href="klas-INF1H">INF1H</a>
                <a class="col block" href="klas-INF1I">INF1J</a>
                </div>
            </div>
      </div>
    <!-- /#wrapper -->

</div>