<div class="d-flex" id="wrapper">
    <app-nav-nl class="col-md-2 col" ></app-nav-nl>
    
    <div class="container">
        <div class="container-fluid">
            <h1 class="mt-4">Klassen</h1>
            <div class="row">
                <a class="col block" href="klas-INF1A">
                    <img src="assets/images/group_icon.png" alt="INF1A"/>
                    <p>INF1A</p>
                </a>
                <a class="col block" href="klas-INF1B">
                    <img src="assets/images/group_icon.png" alt="INF1B"/>
                    <p>INF1B</p>
                </a>
                <a class="col block" href="klas-INF1C">
                    <img src="assets/images/group_icon.png" alt="INF1C"/>
                    <p>INF1C</p>
                </a>
                <a class="col block" href="klas-INF1D">
                    <img src="assets/images/group_icon.png" alt="INF1D"/>
                    <p>INF1D</p>
                </a>
                <a class="col block" href="klas-INF1E">
                    <img src="assets/images/group_icon.png" alt="INF1E"/>
                    <p>INF1E</p>
                </a>
            </div>
        </div>
      </div>
    <!-- /#wrapper -->

</div>
