<!-- Desktop menu -->
<div class="desktop-menu">
    <a href="/"><img class="logo" src="assets/images/Logo_Information-Technology.png" alt="logo"></a>
    <button mat-button [matMenuTriggerFor]="groups">Groups  <img src="assets/images/arrow.png" alt="arrow" ></button>
    <mat-menu #groups="matMenu">
            <button mat-menu-item><a href="group-IT1A">IT1A</a></button>
            <button mat-menu-item><a href="group-IT1B">IT1B</a></button>
            <button mat-menu-item><a href="group-IT1C">IT1C</a></button>
            <button mat-menu-item><a href="group-IT1D">IT1D</a></button>
            <button mat-menu-item><a href="group-IT1E">IT1E</a></button>
            <button mat-menu-item><a href="group-IT1F1">IT1F</a></button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="schedule">Schedules  <img src="assets/images/arrow.png" alt="arrow" ></button>
    <mat-menu #schedule="matMenu">
            <button mat-menu-item><a href="schedule-IT1A">IT1A</a></button>
            <button mat-menu-item><a href="schedule-IT1B">IT1B</a></button>
            <button mat-menu-item><a href="schedule-IT1C">IT1C</a></button>
            <button mat-menu-item><a href="schedule-IT1D">IT1D</a></button>
            <button mat-menu-item><a href="schedule-IT1E">IT1E</a></button>
            <button mat-menu-item><a href="schedule-IT1F1">IT1F</a></button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="vak">Classes  <img src="assets/images/arrow.png" alt="arrow" ></button>
    <mat-menu #vak="matMenu">
        <button mat-menu-item><a href="PHP1-en">PHP1</a></button>
        <button mat-menu-item><a href="HTML-en">HTML</a></button>
        <button mat-menu-item><a href="FED1-en">FED1</a></button>
        <button mat-menu-item><a href="Project-professionele-website-en">Professionele website</a></button>
        <button mat-menu-item><a href="Informatiemanagement-en">Informatiemanagement</a></button>
        <button mat-menu-item><a href="SLB1A-en">SLB1A</a></button>
        <button mat-menu-item><a href="Database1-en">Databases 1</a></button>
        <button mat-menu-item><a href="PHP2-en">PHP2</a></button>
        <button mat-menu-item><a href="Project-digitaal-portfolio-en"> Digitaal portfolio</a></button>
        <button mat-menu-item><a href="Mondelinge-Communicatie-en"> Mondelinge Communicatie</a></button>
        <button mat-menu-item><a href="WIS1-en">Wiskunde</a></button>
        <button mat-menu-item><a href="Schriftelijke-Communicatie-en"> Schriftelijke Communicatie</a></button>
        <button mat-menu-item><a href="Java1-en"> Java 1</a></button>
        <button mat-menu-item><a href="Netwerken1-en">Inleiding Computernetwerken</a></button>
        <button mat-menu-item><a href="Project-Battle-bot-en">Project Battle bot</a></button>
        <button mat-menu-item><a href="CSharp1-en">C#</a></button>
        <button mat-menu-item><a href="Project-Innovate-en">Project Innovate</a></button>
        <button mat-menu-item><a href="Multimediaproductie-en">Multimediaproductie</a></button>
    </mat-menu>
    <button><a href="teachers">Teachers</a></button>
    <button><a href="Curriculum-en">Curriculum</a></button>
    <button><a href="notices">Notices</a></button>
    <button><a href="home-en"><img src="assets/images/united-kingdom-flag-icon-32.png" ></a><a href="home-nl"><img src="assets/images/netherlands-flag-small.png" class="transparent"></a></button>
</div>
<!-- mobile menu -->
<nav>
    <a href="/"><img class="logo" src="assets/images/Logo_Information-Technology.png" alt="logo"></a> <button class="right open" (click)="toggle('open')"><img src="assets/images/arrow.png" alt="arrow"></button>
    
    <ul class="navigation" *ngIf="open">
        <li><button href="group" (click)="toggle('group')">Group  <img src="assets/images/arrow.png" alt="arrow" ></button>
            <ul *ngIf="group">
                <li><a href="group-IT1A">IT1A</a></li>
                <li><a href="group-IT1B">IT1B</a></li>
                <li><a href="group-IT1C">IT1C</a></li>
                <li><a href="group-IT1D">IT1D</a></li>
                <li><a href="group-IT1E">IT1E</a></li>
                <li><a href="group-IT1F1">IT1F</a></li>
            </ul>
        </li>
        <li><button href="schedule" class="schedule" (click)="toggle('schedule')">Schedule <img src="assets/images/arrow.png" alt="arrow"></button>
            <ul *ngIf="schedule">
                <li><a href="schedule-IT1A">IT1A</a></li>
                <li><a href="schedule-IT1B">IT1B</a></li>
                <li><a href="schedule-IT1C">IT1C</a></li>
                <li><a href="schedule-IT1D">IT1D</a></li>
                <li><a href="schedule-IT1E">IT1E</a></li>
                <li><a href="schedule-IT1F1">IT1F</a></li>
            </ul>
        </li>
        <li><button href="vakken" (click)="toggle('vak')">Classes  <img src="assets/images/arrow.png" alt="arrow"></button>
            <ul *ngIf="vak">
                <li><a href="PHP1-en">PHP1</a></li>
                <li><a href="HTML-en">(X)HTML en CSS</a></li>
                <li><a href="FED1-en">FED Essentials</a></li>
                <li><a href="Project-professionele-website-en">Project Professionele website</a></li>
                <li><a href="Informatiemanagement-en">Informatiemanagement</a></li>
                <li><a href="SLB1A-en">SLB1A</a></li>
                <li><a href="Database1-en">Inleiding Databases</a></li>
                <li><a href="PHP2-en">Unleash your potential in PHP</a></li>
                <li><a href="Project-digitaal-portfolio-en">Digitale Portfolio</a></li>
                <li><a href="Mondelinge-Communicatie-en">Mondelinge Communicatie</a></li>
                <li><a href="WIS1-en">Basiswiskunde</a></li>
                <li><a href="Schriftelijke-Communicatie-en">Schriftelijke Communicatie 1</a></li>
                <li><a href="Java1-en">Inleiding programmeren in Java</a></li>
                <li><a href="Netwerken1-en">Inleiding Computernetwerken</a></li>
                <li><a href="Project-Battle-bot-en">Project Battle bot</a></li>
                <li><a href="CSharp1-en">Module C#</a></li>
                <li><a href="Project-Innovate-en">Project Innovate</a></li>
                <li><a href="Multimediaproductie-en">Multimediaproductie</a></li>
            </ul>
        </li>
        <li><a href="teachers">Teachers</a></li>
        <li><a href="Curriculum-en">Curriculum</a></li>
        <li><a href="Notices">Notices</a></li>
        <li><a href="home-en"><img src="assets/images/united-kingdom-flag-icon-32.png" ></a></li>
        <li><a href="home-nl"><img src="assets/images/netherlands-flag-small.png" class="transparent"></a></li>
    </ul>
</nav>