<div class="d-flex" id="wrapper">
    <app-nav-nl class="col-md-2 col" ></app-nav-nl>
    
    <div class="container">
        <div class="row">
          <a class="col block" href="klassen">Klassen</a>
          <a class="col block" href="docenten">Docenten</a>
          <a class="col block" href="studieopbouw">Studieopbouw</a>
          <a class="col block" href="boekenlijst">Boekenlijst</a>
        </div>
        <div class="row">
            <a class="col block" target="_blank" href="https://start.nhlstenden.com/">Blackboard</a>
            <a class="col block" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4329287-dt-content-rid-5727329_6/courses/HTO-201406-01/OER%202018-2019%20bachelor%20Inf.pdf">OER</a>
            <a class="col block" target="_blank" href="http://portal.office365.com/">Office 365</a>
            <a class="col block" href="onderwijsvorm">Onderwijsvorm</a>
          </div>
          <div class="row">
            <div class="col openingstijden">
              <p class="bold">Openingstijden</p>
              <p>Werkdagen van 9:30 tot 16:30 uur.</p>
            </div>
          </div>
      </div>
    <!-- /#wrapper -->

</div>
