.block{
    background-color: white;
    width: 210px;
    height: 160px;
    margin: 40px;
    text-align: center;
    padding: 4em;
    text-decoration: none;
    color: #005AAA;
    &:hover{
        opacity: 0.5;
    }
    box-shadow: 10px 10px #029cab;
    
}
.openingstijden{
    background-color: white;
    width: 210px;
    padding: 10px;
    margin: 40px;
    text-align: center;
    text-decoration: none;
    color: #005AAA;
    &:hover{
        opacity: 0.5;
    }
    box-shadow: 10px 10px #029cab;
    .bold{
        font-weight: bolder;
    }
}
