<div class="d-flex" id="wrapper">
    <app-nav-nl class="col-md-2 col" ></app-nav-nl>
    
    <div class="container">
        <div class="row">
          <a class="col block" href="klassen">Klassen</a>
          <a class="col block" href="docenten">Docenten</a>
          <a class="col block" href="vakken">Vakken</a>
          <a class="col block" href="https://start.nhlstenden.com/">Progress</a>
        </div>
        <div class="row">
            <a class="col block" target="_blank" href="https://start.nhlstenden.com/">Blackboard</a>
            <a class="col block" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4329287-dt-content-rid-5727329_6/courses/HTO-201406-01/OER%202018-2019%20bachelor%20Inf.pdf">OER</a>
            <a class="col block" target="_blank" href="http://portal.office365.com/">Office 365</a>
            <a class="col block" target="_blank" href="https://newuniversity.sharepoint.com/sites/Corporate/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FCorporate%2FShared%20Documents%2FNHL%20Stenden%20Academic%20Calendar%202019%2D2020%20pocket%2Epdf&parent=%2Fsites%2FCorporate%2FShared%20Documents">Jaarkalender</a>
          </div>
      </div>
    <!-- /#wrapper -->

</div>