nav{
    
    color: #005AAA;
        background-color:white;
        .navigation{
            display: block;
        }
        ul{
            padding: 0;
            margin: 0;
            
        }
        li{
            
            list-style: none;
            padding-left: 10px;
            border-bottom: thin #005AAA solid;
            img{
                width: 20px;
            }
        }
        
        .right{
            float: right;
            padding-right: 10px;
        }
}

a, button{
    padding: 0;
    margin: 10px;
    color: #005AAA;
    font-weight: bold;
    text-decoration: none;
    font-family: calibri,sans-serif;
    font-weight: 700;
    @media (min-width:500px) {
        font-size:15px;
    }
    font-size: 25px;
    font-style: normal;
    margin: 0;
    
}

.open{
    @media (min-width:500px) {
        display: none;
    }
}

.logo{
    height: 50px;
}

.transparent{
    opacity: 0.5;
}

.flag{
    height: 20px;
    padding: 5px;
}