nav{
height: 100vh;
.mobile{
    display: none;
    @media (min-width: 500px) {
        display: inline;
    }
}
color: #495057;
        background-color:white;
        .navigation{
            display: block;
        }
        ul{
            padding: 0;
            margin: 0;
        }
        li{
            list-style: none;
            padding-left: 10px;
            border-bottom: thin #005AAA solid;
            img{
                width: 20px;
            }
        }
a, button{
    padding: 0;
    background: none;
    margin: 10px;
    color: #495057;
    &:hover{
        color: #495057;
        opacity: 0.8;
    }
    font-weight: bold;
    text-decoration: none;
    font-family: calibri,sans-serif;
    font-weight: 700;
    @media (min-width:500px) {
        font-size:15px;
        text-decoration: none;
    }
    font-size: 25px;
    font-style: normal;
    margin: 0;

#top-nav{
    width:  100%;
    height: 50px;
    background: rgb(255,255,255);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#center-nav{
    height: calc(100vh - 102px);
    overflow: auto;
    background: rgb(245,245,245);
}
#center-nav > a > .list-group-item{
    cursor: pointer;
    background: none;
}
#center-nav > a{
    text-decoration: none;
}
#center-nav > a:hover{
    background: rgb(255,255,255);
    opacity: 1.0;
}
.arrow{
    height: 10px;
    margin-top: 8px;
    float: right;
}

#bottom-nav{
    width:  100%;
    height: 50px;
    padding: 12.5px;
    bottom: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
#bottom-nav > a > img{
    height: 25px;
    width: 35px;
    opacity: 1.0;
}

.open{
    border:none;
    background-color: none;
}

.logo{
    height: 100%;
}
