<!-- Sidebar -->
<nav id="sidebar-wrapper">

    <a href="/"><div id="top-nav"><img class="logo sidebar-heading" src="assets/images/Logo.png" alt="logo"></div></a>
    
    <div id="center-nav" class="list-group list-group-flush" *ngIf="open">
        <a target="_top" (click)="toggle('group')"><div class="list-group-item list-group-item-action">Klassen <img class="arrow" src="assets/images/arrow.png" alt="arrow"></div></a>
            <div class="list-group-item list-group-item-action" *ngIf="group">
                <a class="list-group-item list-group-item-action" href="klas-INF1A">INF1A</a>
                <a class="list-group-item list-group-item-action" href="klas-INF1B">INF1B</a>
                <a class="list-group-item list-group-item-action" href="klas-INF1C">INF1C</a>
                <a class="list-group-item list-group-item-action" href="klas-INF1D">INF1D</a>
                <a class="list-group-item list-group-item-action" href="klas-INF1E">INF1E</a>
            </div>
        <a target="_blank" href="https://sa-nhlstenden.xedule.nl/"><div class="list-group-item list-group-item-action">Roosters</div></a>
        <a href="studieopbouw-nl"><div class="list-group-item list-group-item-action">Studie opbouw</div></a> 
        <a target="_top" (click)="toggle('vak')" class="nav-link active"><div class="list-group-item list-group-item-action">Vakken<img class="arrow" src="assets/images/arrow.png" alt="arrow"></div></a>
            <div  class="list-group-item list-group-item-action" *ngIf="vak">
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-2832717-dt-content-rid-7875935_6/courses/hto-200908-02/Moduleboek_OIPHP1_191015.pdf">PHP1</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-2832959-dt-content-rid-7462837_6/courses/hto-200908-03/Moduleboek_OIXH_190826.pdf">(X)HTML en CSS</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4293273-dt-content-rid-7500758_6/courses/hto-200908-04/Moduleboek_OIFED1_190820.pdf">FED Essentials</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-694856-dt-content-rid-2992728_6/courses/hto-200908-05/160525_Moduleboek%20PROFWEBS.pdf">Project Professionele website</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-851661-dt-content-rid-7710107_6/courses/hto-200911-02/Moduleboek_OIIM_190924%203.7.pdf">Informatiemanagement</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4747084-dt-content-rid-10419226_6/courses/hto-200908-06/MODUULBOEK_SLB1A_versie%200.2_Informatica_2019_september%282%29.pdf">SLB1A</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4429061-dt-content-rid-8470805_6/courses/hto-200911-01/20191111_moduleboek_OIDB1_Inleiding_Databases.pdf">Inleiding Databases</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-599699-dt-content-rid-8273393_6/courses/hto-200911-04/Moduleboek_OIPHP2_191105.pdf">Unleash your potential in PHP</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-694911-dt-content-rid-8448893_6/courses/hto-200911-05/20191111_Module_WebApplicatie_v5.pdf">Digitale Portfolio</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4680583-dt-content-rid-8390549_6/courses/hto-201704-01/Moduleboek%20MC-1%202019-2020.pdf">Mondelinge Communicatie</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-3497326-dt-content-rid-6217927_6/courses/HTO-201609-01/Moduleboek_OIWI1_190129-versie-2.0%281%29.pdf">Basiswiskunde</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4754227-dt-content-rid-10540591_6/courses/HTO-201701-02/GSC01%202019-2020.pdf">Schriftelijke Communicatie 1</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-600351-dt-content-rid-4308581_6/courses/hto-200911-08/Moduleboek_OIJV1_180524.pdf">Inleiding programmeren in Java</a>
                <a class="list-group-item list-group-item-action" href="Netwerken1">Inleiding Computernetwerken</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-730230-dt-content-rid-5631166_6/courses/hto-200911-12/Moduleboek_PRBATBOT_180822.pdf">Project Battle bot</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-3102287-dt-content-rid-12023178_6/courses/HTO-201004-01/Moduleboek_OIC%231_200417.pdf">Module C#</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/webapps/blackboard/content/listContent.jsp?course_id=_6414_1&content_id=_1515168_1&mode=reset">Project Innovate</a>
                <a class="list-group-item list-group-item-action" target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-3683931-dt-content-rid-7461366_6/courses/hto-200911-10/Moduleboek_OIMM_190826.pdf">Multimediaproductie</a>
            </div>
        <a href="docenten"><div class="list-group-item list-group-item-action">Docenten</div></a>
        <a href="mededelingen"><div class="list-group-item list-group-item-action">Mededelingen</div></a>
    </div>

    <div id="bottom-nav">
        <a href="home-en"><img src="assets/images/united-kingdom-flag-icon-32.png" class="transparent flag"></a>
        <a href="/"><img class="flag" src="assets/images/netherlands-flag-small.png"></a>
    </div>
</nav>
