<div class="d-flex" id="wrapper">
    <app-nav-en class="col-md-2 col" ></app-nav-en>
    <div id="content-wrapper">
        <div class="container">
            <div class="container-fluid">
                <h1 class="mt-4">Study structure year 1</h1>
                <h2>Periode 1</h2>
                <div class="row">
                    <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-2832717-dt-content-rid-7875935_6/courses/hto-200908-02/Moduleboek_OIPHP1_191015.pdf">
                        <div class="col block">
                            <p>PHP1</p>
                            <img src="assets/images/sudie_opbouw.png" alt="PHP1"/>
                        </div>
                    </a>
                    <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-2832959-dt-content-rid-7462837_6/courses/hto-200908-03/Moduleboek_OIXH_190826.pdf">
                        <div class="col block">
                            <p>(X)HTML en CSS</p>
                            <img src="assets/images/sudie_opbouw.png" alt="(X)HTML en CSS"/>
                        </div>
                    </a>
                    <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4293273-dt-content-rid-7500758_6/courses/hto-200908-04/Moduleboek_OIFED1_190820.pdf">
                        <div class="col block">
                            <p>FED Essentials</p>
                            <img src="assets/images/sudie_opbouw.png" alt="FED Essentials"/>
                        </div>
                    </a>
                    <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-694856-dt-content-rid-2992728_6/courses/hto-200908-05/160525_Moduleboek%20PROFWEBS.pdf">
                        <div class="col block">
                            <p>Project Professionele website</p>
                            <img src="assets/images/sudie_opbouw.png" alt="Project Professionele website"/>
                        </div>
                    </a>
            </div>
            <h2>Periode 2</h2>
            <div class="row">
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-851661-dt-content-rid-7710107_6/courses/hto-200911-02/Moduleboek_OIIM_190924%203.7.pdf">
                    <div class="col block">
                        <p>Informatiemanagement</p>
                        <img src="assets/images/sudie_opbouw.png" alt="Informatiemanagement"/>
                    </div>
                </a>
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4747084-dt-content-rid-10419226_6/courses/hto-200908-06/MODUULBOEK_SLB1A_versie%200.2_Informatica_2019_september%282%29.pdf">
                    <div class="col block">
                        <p>SLB1A</p>
                        <img src="assets/images/sudie_opbouw.png" alt="SLB1A"/>
                    </div>
                </a>
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4429061-dt-content-rid-8470805_6/courses/hto-200911-01/20191111_moduleboek_OIDB1_Inleiding_Databases.pdf">
                    <div class="col block">
                        <p>Inleiding Databases</p>
                        <img src="assets/images/sudie_opbouw.png" alt="Inleiding Databases"/>
                    </div>
                </a>
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-599699-dt-content-rid-8273393_6/courses/hto-200911-04/Moduleboek_OIPHP2_191105.pdf">
                    <div class="col block">
                        <p>Unleash your potential in PHP</p>
                        <img src="assets/images/sudie_opbouw.png" alt="Unleash your potential in PHP"/>
                    </div>
                </a>
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-694911-dt-content-rid-8448893_6/courses/hto-200911-05/20191111_Module_WebApplicatie_v5.pdf">
                    <div class="col block">
                        <p>Digitale Portfolio</p>
                        <img src="assets/images/sudie_opbouw.png" alt="Digitale Portfolio"/>
                    </div>
                </a>
            </div>
            <h2>Periode 3</h2>
            <div class="row">
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-2832717-dt-content-rid-7875935_6/courses/hto-200908-02/Moduleboek_OIPHP1_191015.pdf">
                    <div class="col block">
                        <p>PHP1</p>
                        <img src="assets/images/sudie_opbouw.png" alt="PHP1"/>
                    </div>
                </a>
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-2832959-dt-content-rid-7462837_6/courses/hto-200908-03/Moduleboek_OIXH_190826.pdf">
                    <div class="col block">
                        <p>(X)HTML en CSS</p>
                        <img src="assets/images/sudie_opbouw.png" alt="(X)HTML en CSS"/>
                    </div>
                </a>
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4293273-dt-content-rid-7500758_6/courses/hto-200908-04/Moduleboek_OIFED1_190820.pdf">
                    <div class="col block">
                        <p>FED Essentials</p>
                        <img src="assets/images/sudie_opbouw.png" alt="FED Essentials"/>
                    </div>
                </a>
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-694856-dt-content-rid-2992728_6/courses/hto-200908-05/160525_Moduleboek%20PROFWEBS.pdf">
                    <div class="col block">
                        <p>Project Professionele website</p>
                        <img src="assets/images/sudie_opbouw.png" alt="Project Professionele website"/>
                    </div>
                </a>
            </div>
            <h2>Periode 4</h2>
            <div class="row">
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-851661-dt-content-rid-7710107_6/courses/hto-200911-02/Moduleboek_OIIM_190924%203.7.pdf">
                    <div class="col block">
                        <p>Informatiemanagement</p>
                        <img src="assets/images/sudie_opbouw.png" alt="Informatiemanagement"/>
                    </div>
                </a>
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4747084-dt-content-rid-10419226_6/courses/hto-200908-06/MODUULBOEK_SLB1A_versie%200.2_Informatica_2019_september%282%29.pdf">
                    <div class="col block">
                        <p>SLB1A</p>
                        <img src="assets/images/sudie_opbouw.png" alt="SLB1A"/>
                    </div>
                </a>
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-4429061-dt-content-rid-8470805_6/courses/hto-200911-01/20191111_moduleboek_OIDB1_Inleiding_Databases.pdf">
                    <div class="col block">
                        <p>Inleiding Databases</p>
                        <img src="assets/images/sudie_opbouw.png" alt="Inleiding Databases"/>
                    </div>
                </a>
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-599699-dt-content-rid-8273393_6/courses/hto-200911-04/Moduleboek_OIPHP2_191105.pdf">
                    <div class="col block">
                        <p>Unleash your potential in PHP</p>
                        <img src="assets/images/sudie_opbouw.png" alt="Unleash your potential in PHP"/>
                    </div>
                </a>
                <a target="_blank" href="https://blackboard.nhlstenden.com/bbcswebdav/pid-694911-dt-content-rid-8448893_6/courses/hto-200911-05/20191111_Module_WebApplicatie_v5.pdf">
                    <div class="col block">
                        <p>Digitale Portfolio</p>
                        <img src="assets/images/sudie_opbouw.png" alt="Digitale Portfolio"/>
                    </div>
                </a>
            </div>
            </div>
        <!-- /#wrapper -->
    </div>
</div>