<div class="d-flex" id="wrapper">
    <app-nav-nl class="col-md-2 col" ></app-nav-nl>
    <div id="content-wrapper">
    <div class="container">
        <div class="container-fluid">
            <h1 class="mt-4">INF1A</h1>
            <div class="row">
                <div class="col block">
                  <p class="category">PROJECTLEIDER</p>
                  <img src="assets/images/placeholder.png" alt="Karel Kever"/>
                  <p>Karel Kever</p>
                  <p>kk@nhlstenden.com</p>
                </div>
                <div class="col block">
                  <p class="category">VICEVOORZITTER</p>
                  <img src="assets/images/placeholder.png" alt="Willem Worst"/>
                  <p>Willem Worst</p>
                  <p>ww@nhlstenden.com</p>
                </div>
                <div class="col block">
                  <p class="category">KWALITEITSCONTROLEUR</p>
                  <img src="assets/images/placeholder.png" alt="Tessa Toedels"/>
                  <p>Tessa Toedels</p>
                  <p>tt@nhlstenden.com</p>
                </div>
                <div class="col block">
                  <p class="category">PLANNER</p>
                  <img src="assets/images/placeholder.png" alt="Mikko Mosterd"/>
                  <p>Mikko Mosterd</p>
                  <p>mm@nhlstenden.com</p>
                </div>
                <div class="col block">
                  <p class="category">NOTULIST</p>
                  <img src="assets/images/placeholder.png" alt="Alexander Appels"/>
                  <p>Alexander Appels</p>
                  <p>aa@nhlstenden.com</p>
                </div>
                <div class="col block">
                  <p class="category">GROEPSWERKER</p>
                  <img src="assets/images/placeholder.png" alt="Pieter Post"/>
                  <p>Pieter Post</p>
                  <p>pp@nhlstenden.com</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    <!-- /#wrapper -->

</div>