<div class="d-flex" id="wrapper">
    <app-nav-en class="col-md-2 col" ></app-nav-en>
    <div id="content-wrapper">
    <div class="container">
        <div class="container-fluid">
            <h1 class="mt-4">Groups</h1>
            <div class="row">
                <a class="col block" href="group-IT1A">
                    <img src="assets/images/group_icon.png" alt="IT1A"/>
                    <p>IT1A</p>
                </a>
                <a class="col block" href="group-IT1B">
                    <img src="assets/images/group_icon.png" alt="IT1B"/>
                    <p>IT1B</p>
                </a>
                <a class="col block" href="group-IT1C">
                    <img src="assets/images/group_icon.png" alt="IT1C"/>
                    <p>IT1C</p>
                </a>
                <a class="col block" href="group-IT1D">
                    <img src="assets/images/group_icon.png" alt="IT1D"/>
                    <p>IT1D</p>
                </a>
                <a class="col block" href="group-IT1E">
                    <img src="assets/images/group_icon.png" alt="IT1E"/>
                    <p>IT1E</p>
                </a>
            </div>
        </div>
    </div>
      </div>
    <!-- /#wrapper -->
</div>
