<div class="d-flex" id="wrapper">
  <app-nav-nl class="col-md-2 col" ></app-nav-nl>
  
  <div class="container">
    <div class="container-fluid">
      <h1 class="mt-4">Docenten</h1>
      <div class="row">
        <div class="col block">
          <img src="assets/images/placeholder.png" alt="Jan Jagersma"/>
          <p>Jan Jagersma</p>
          <p>jj@nhlstenden.com</p>
          <p>06842753</p>
        </div>
        <div class="col block">
          <img src="assets/images/placeholder.png" alt="Elleke Doornbos"/>
          <p>Elleke Doornbos</p>
          <p>ed@nhlstenden.com</p>
          <p>06932256</p>
        </div>
        <div class="col block">
          <img src="assets/images/placeholder.png" alt="Jan Jagersma"/>
          <p>Jan Jagersma</p>
          <p>jj@nhlstenden.com</p>
          <p>06842753</p>
        </div>
        <div class="col block">
          <img src="assets/images/placeholder.png" alt="Elleke Doornbos"/>
          <p>Elleke Doornbos</p>
          <p>ed@nhlstenden.com</p>
          <p>06932256</p>
        </div>
        <div class="col block">
          <img src="assets/images/placeholder.png" alt="Jan Jagersma"/>
          <p>Jan Jagersma</p>
          <p>jj@nhlstenden.com</p>
          <p>06842753</p>
        </div>
        <div class="col block">
          <img src="assets/images/placeholder.png" alt="Elleke Doornbos"/>
          <p>Elleke Doornbos</p>
          <p>ed@nhlstenden.com</p>
          <p>06932256</p>
        </div>
        <div class="col block">
          <img src="assets/images/placeholder.png" alt="Jan Jagersma"/>
          <p>Jan Jagersma</p>
          <p>jj@nhlstenden.com</p>
          <p>06842753</p>
        </div>
        <div class="col block">
          <img src="assets/images/placeholder.png" alt="Elleke Doornbos"/>
          <p>Elleke Doornbos</p>
          <p>ed@nhlstenden.com</p>
          <p>06932256</p>
        </div>
      </div>
    </div>
  <!-- /#wrapper -->

</div>
