<div class="d-flex" id="wrapper">
    <app-nav-nl class="col-md-2 col" ></app-nav-nl>
    
    <div class="container">
        <div class="container-fluid">
            <h1 class="mt-4">Docenten</h1>
            <div class="row">
                <a class="col block" href="klassen">Klassen</a>
                <a class="col block" href="docenten">Docenten</a>
                <a class="col block">col</a>
                <a class="col block">col</a>
              </div>
              <div class="row">
                  <a class="col block" href="klassen">Klassen</a>
                  <a class="col block">col</a>
                  <a class="col block">col</a>
                  <a class="col block">col</a>
                </div>
      </div>
    <!-- /#wrapper -->

</div>