<div class="d-flex" id="wrapper">
    <app-nav-nl class="col-md-2 col" ></app-nav-nl>
    
    <div class="container">
        <div class="container-fluid">
            <h1 class="mt-4">Mededelingen</h1>
            
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div>
                <div class="col block">
                    <p>Beste studenten die C#2 in periode 4 gaan volgen,</p>
                    
                    <p>Dit vak wordt georganiseerd via Teams. Vele van jullie die het vak gaan volgen heb ik al toegevoegd op basis van de deelname aan Dataprocessing. Mocht je niet mee willen doen of als dit vak geen onderdeel uitmaakt van jouw studierichting, verlaat dan gerust de Teams omgeving. Voor alle anderen die wel mee willen doen, maar nog niet in de Teams omgeving zitten, is er een code. Deze code is: eqs4esi
                    Verdere communicatie verloopt via Teams. Zorg ervoor dat je dus bij de omgeving kunt! Lukt dit niet, neem dan z.s.m. contact op. (Informeer ook medestudenten over de code, mochten deze nog niet toegevoegd zijn)
                    
                    De eerste bijeenkomst (kick-off) is op maandag 20-04 om 9:15 in het algemene kanaal van Teams. Tot dan.</p>
                    <p>
                    Met vriendelijke groet,
                    </p><p>
                    Rob Smit
                    </p>
                </div> 
        </div>
      </div>
    <!-- /#wrapper -->

</div>